CMakeLists.txt
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
main.cpp

# folder produced by cmake after building the project
cmake-build-debug
# Jetbrains project folder
.idea
